.home{

    
}

.Titulo{

    text-align: center;
    margin: 50px 0;
    font-size: 100px;
}

.botonRedondoVolver{

    border-radius: 10px;
    
}

.botonRedondoAdelante{

    border-radius: 10px;
    
}

.espacio{

    height: 30px;
}

.top{

    background-color: black;
    display: flex;
    justify-content: left;
    align-content: center;
    padding: 12px;
    
    
}

.textohome{
    text-align: center;
    display: flex;
}