.Login-containerr {

    background-color: #282c34;
    text-align: center;
   
   
}

.titulo{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150px;

}

.ingresar{

    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(143, 143, 147);
    
}

.boton{

    
    text-align: center;
    
    
}

.espacio{

    height: 40px;
}

.subtitulo{

   text-size-adjust: 20px;
}

.sb{
    text-align: center;
}

.contra{

    height: 50px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}

.usuario{
    
    height: 50px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}